@font-face {
    font-family:  "Amazon";
    src: url("../fonts/AmazonEmber_Bd.ttf");
}

div {
    font-family: 'Amazon', sans-serif;
    position: absolute;
    border: 5px solid black;
    border-radius: 30px;

    -webkit-text-fill-color: black;
    font-size: 1.25em;
    -webkit-text-stroke-width: 0.06em;
    -webkit-text-stroke-color: black;
}

div#page {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
}

div#scores {
    width: 40em;
    height: 1.5em;
    line-height: 1.5em;
    top: 1em;
    background-color: white;
}

div.score {
    width: 5%;
    height: 100%;
    margin: -5px;
    text-align: center;
    vertical-align: middle;
}

div#p1_score {
    left: 0%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

div#p2_score {
    right: 0%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

div.name {
    width: 40%;
    height: 100%;
    margin-top: -5px;
    text-align: center;
    border-radius: 0px;
}

div#p1_name {
    left: 5%;
    text-align: left;
    padding-left: 0.5em;
    border-right: none;
    background-image: url("../characters/unknown.png");
    background-size: auto 110%;
    background-repeat: no-repeat;
    background-position: right;
}

div#p2_name {
    right: 5%;
    text-align: right;
    padding-right: 0.5em;
    border-left: none;
    background-image: url("../characters/unknown.png");
    background-size: auto 110%;
    background-repeat: no-repeat;
    background-position: left;
}

div#round {
    min-width: 6em;
    height: 1.25em;
    line-height: 1.25em;
    bottom: 1em;
    text-align: center;
    background-color: white;
}

img#logo {
    height: 3em;
    top: -0.75em;
    left: 18.5em;
    position: absolute;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.75));
}

div#tournament_name {
    visibility: hidden;
    height: 1em;
    line-height: 0.95em;
    white-space: nowrap;
    top: 3.25em;
    padding-top: 0.85em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.25em;
    font-size: 0.95em;
    text-align: center;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: white;
}
