html, body {
  background-color: rgba(0,0,0,0);
  min-height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.instructions-list {
  font-size: 1vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.instructions-div {
  top:10%;
  width:20em;
  height:75%;
  padding-top:1em;
  padding-left:0.5em;
  padding-right:0.5em;
  background-color:rgb(220,220,220);
  -webkit-text-stroke-width:0;
  -webkit-text-fill-color:black;
}

input[type=text] {
  width: 90%;
}

button#instructions {
  float: right;
  border-radius: 35%;
  margin-right: 2.5%;
}

div.uri {
  border: none;
  -webkit-text-stroke-width: 0em;
  font-size: 1em;
  overflow-y: scroll;
  height: 35em;
  width: 88%;

  /* use basic fonts for this whole menu */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  -webkit-text-fill-color: black;
}
